.resume{
    padding-top:120px;
    
    &__title{
        position: relative;
        text-align: center;
        &:before{
            content: '';
            position: absolute;
            z-index: -1;
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background: $main-color;
            left: 50%;
            transform: translateX(-50%);
            top: -23%;
        }
    }
    &__subtitle{
        text-align: center;
    }
    &__wrapper{
        
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 136px;
    }
    &__col{
        li{
            list-style-type: none;
            position: relative;
            &::after{
                content: '';
                width: 1px;
                height: calc(100% + 18px);
                position: absolute;
                top: -18px;
                left: 0;
                background-color: #212529;
            }
        }
        &-title{
            position: relative;
            padding-left: 43px;
            &:before{
                content: '';
                position: absolute;
                z-index: 1;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__item{
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 50px;
            height: 1px;
            top: 62px;
            z-index: -2;
            background-color: #212529;
        }
        &-head{
            position: relative;
            padding-top: 45px;
            padding-left: 100px;
            h4{
                margin-bottom: 0;
            }
        }
        &-body{
            padding-top: 12px;
            padding-left: 43px;
        }
        &-icon{
            position: absolute;
            top: 44px;
            left: 43px;
            img{
                position: absolute;
                left: 17px;
                top: 14px;
            }
            &:before{
                content: '';
                position: absolute;
                z-index: -1;
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background: $main-color;
                left: 0;
                top: 0;
            }
        }
        &-location{
            font-size: 12px;
            line-height: 18px;
        }
        &-body{
            font-size: 12px;
            line-height: 18px;
        }
    }

}